<div ng-controller="contribution as vm">
  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
  <md-list>
    <md-subheader>GitHub Repos</md-subheader>
    <md-list-item ng-repeat="repo in vm.repos">
      <div class="md-list-item-text">
        <a ng-href="{{repo.url}}"><span>{{repo.name}}</span></a>
      </div>
      <div class="md-list-item-text">
        <span>{{repo.description}}</span>
      </div>
      <md-divider ng-if="!$last"></md-divider>
    </md-list-item>
  </md-list>
  </md-sidenav>
</div>